<% include ./partials/header.ejs %>
<!-- nav is included in header partial -->

	<main class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<img id="logo" src="./images/chewbacca-fpo-icon.svg" alt="wookie icon">
					<h1>Learn to Speak Shyriiwook</h1>
					<h4>the language of the mighty wookies</h4>
					<p>Are you a Star Wars geek? Well, can you speak Shyriiwook? It's time to up your level of Star Wars geekiness and start speaking in the native tounge of the mighty Wookies. With over 200 vocabulary words you'll be rolling your r's, howling your vowels and growling your consonants in no time.</p>
					<a href="subjects.ejs" class="btn btn-lg btn-success active">Learn Shryiiwook</button></a>
				</div>
				<div class="col-md-2"></div>
			</div> <!-- end of row -->
		</div> <!-- end of container -->
	</main> <!-- end of container fluid -->

<!-- footer, jquery, javascript and bootstrap is included in footer partial -->
<% include ./partials/footer.ejs %>