<% include ./partials/header.ejs %>
<!-- nav is included in header partial -->

<% if (message.length > 0) { %>
	<div class="alert alert-danger"><%= message %></div>
<% } %>

<div class="container-fluid">
	<div class="container">

		<div class="row"> <!-- row 1 -->
			<div class="col-md-4"></div> <!-- WHITE SPACE -->

			<div class="col-md-4">
				<!-- TITLE -->
				<div>
					<h2>signup</h2>
					<p>Sign up for an acount and track your progress.</p>
				</div>

				<!-- FORM -->
				<form method="post" action="/signup">
					<!-- email -->
					<div class="form-group">
						<label for="email">email</label>
						<input class="form-control" type="text" name="email" id="email">
					</div>
					<!-- affiliation -->
					<div class="form-group">
						<label for="affiliation">affiliation</label>
						<input class="form-control" type="affiliation" name="affiliation" id="affiliation">
						<h6>(Empire, Rebelion, Jedi, Sith, Smuggler, Bounty Hunter, Moisture Farmer, Cantina Owner)</h6>
					</div>
					<!-- password -->
					<div class="form-group">
						<label for="password">password</label>
						<input class="form-control" type="password" name="password" id="password">
					</div>
					<div class="form-group">
						<input class="btn btn-default" type="submit" value="sign up">
					</div>
				</form>
			</div> <!-- end of col 4 -->


			<div class="col-md-4"></div> <!-- WHITE SPACE -->
		</div> <!-- end of row 1 -->

	</div> <!-- end of container -->
</div> <!-- end of container fluid -->

<!-- footer, jquery, javascript and bootstrap is included in footer partial -->
<% include ./partials/footer.ejs %>
