/* 
FONTS IN USE: 
font-family: 'Plaster', sans-serif;

font-family: 'Roboto', sans-serif;
font-weight: 300, 500, 500i, 900
*/

body{
	text-align: center;
}
#logo {
	margin: 100px 0 20px 0;
	height: 300px;
}
#navLogo {
	display: inline;
	height: 25px;
}
.navbar-brand{
	font-family: 'Plaster', sans-serif;
}
h1{
	font-family: 'Plaster', sans-serif;
}
h3 {
	text-transform: uppercase;
}
h4{
	text-transform: uppercase;
}
p{
	margin: 50px;
	text-align: left;
}
.subjects {
	font-size: 125px;
	margin: 75px 25px 10px 25px;
}
.title {
	margin: 50px 0 5px 0;
}
.vocabWord {
	margin: 5px 0 35px 0;
	font-family: 'Plaster', sans-serif;

}
#play {
	padding: 15px;
	font-size: 30px; 
}
.answers {
	margin: 25px 0;
	padding: 15px
}